process {

    publishDir = { "${params.outdir}" }

    withName: BAYESTME_DECONVOLUTION {
        ext.args = [
            '--n-split', '2',
            '--inference-type', 'SVI',
            '--n-samples', '2',
            '--n-svi-steps', '2',
            '--n-burn', '1',
            '--n-thin', '1',
        ].join(' ')
    }

    withName: BAYESTME_BLEEDING_CORRECTION {
        ext.args = [
            '--max-steps', '1'
        ].join(' ')
    }
}
