process {

    publishDir = { "${params.outdir}" }

    withName: BAYESTME_DECONVOLUTION {
        ext.args = [
            '--inference-type', 'SVI',
            '--n-samples', '2',
            '--n-svi-steps', '2',
            '--n-burn', '1',
            '--n-thin', '1',
        ].join(' ')

        ext.args2 = [
            '--n-marker-genes', '1',
            '--alpha', '100'
        ].join(' ')
    }

    withName: BAYESTME_BLEEDING_CORRECTION {
        ext.args = [
            '--max-steps', '1',
            '--n-top', '3'
        ].join(' ')
    }

    withName: BAYESTME_FILTER_GENES {
        ext.args = [
            '--spot-threshold', '1.0',
            '--n-top-by-standard-deviation', '3'
        ].join(' ')
    }
}
