process {

    publishDir = { "${params.outdir}" }

    withName: BAYESTME_DECONVOLUTION {
        ext.args = [
            '--inference-type', 'SVI',
            '--n-samples', '2',
            '--n-svi-steps', '2'
        ].join(' ')

        ext.args2 = [
            '--n-marker-genes', '1',
            '--alpha', '1'
        ].join(' ')
    }
}
