includeConfig 'nextflow/nextflow.config'

dag {
    enabled = true
    file = 'pipeline_dag.html'
    overwrite = true
}

trace {
    enabled = true
    file = 'pipeline_trace.txt'
    fields = 'task_id,name,status,exit,realtime,%cpu,rss'
    overwrite = true
}

report {
    enabled = true
    file = 'pipeline_report.html'
    overwrite = true
}
