params {
    // Base directory for test data
    test_data_base = "${launchDir}/nextflow/tests/data"

    test_data {
        bayestme {
            raw_dataset = "${params.test_data_base}/demo.h5ad"
            filtered_dataset = "${params.test_data_base}/dataset_filtered.h5ad"
            deconvolved_dataset = "${params.test_data_base}/dataset_deconvolved_marker_genes.h5ad"
            deconvolution_samples = "${params.test_data_base}/deconvolution_samples.h5"
            bleed_correction_results = "${params.test_data_base}/bleed_correction_results.h5"
            sde_samples = "${params.test_data_base}/sde_samples.h5"
            phenotype_selection = "${params.test_data_base}/phenotype_selection/*"
        }
    }
}
