params {

    bayestme_spatial_smoothing_parameter = 1.0
    bayestme_seed = null
    // Whether to use MCMC (slower) or SVI (faster) inference
    bayestme_inference_type = "SVI"

    // If false, we will skip running the spatial expression model
    bayestme_run_spatial_expression = true

    // Input directory with spaceranger data
    bayestme_expression_truth_files = []

    // Gene filtering params
    bayestme_filter_ribosomal_genes = false
    bayestme_n_top_by_standard_deviation = 1000
    bayestme_spot_threshold = 0.9

    // Bleeding correction params
    bayestme_bleed_correction_n_top_genes = 50
    bayestme_bleed_correction_n_em_steps = 5
    bayestme_bleed_correction_local_weight = null

    // Flags for both phenotype selection and deconvolution
    bayestme_background_noise = false
    bayestme_lda_initialization = false

    // Phenotype selection params

    // Number of times to run k-fold cross-validation.
    bayestme_phenotype_selection_n_fold = 5
    // Split dataset into k consecutive folds for each instance of k-fold cross-validation
    bayestme_phenotype_selection_n_splits = 15
    // Number of samples from the posterior distribution.
    bayestme_phenotype_selection_n_samples = 100
    // Number of burn-in samples.
    bayestme_phenotype_selection_n_burn = 2000
    // Thinning factor for sampling
    bayestme_phenotype_selection_n_thin = 5
    // If using SVI inference, whether to use spatial guide or not
    bayestme_phenotype_selection_use_spatial_guide = true
    // Minimum number of cell types to try.
    bayestme_phenotype_selection_n_components_min = 2
    // Maximum number of cell types to try.
    bayestme_phenotype_selection_n_components_max = 12
    // Potential values of the spatial smoothing parameter to try.
    // This will be set by default depending on the value of inference_type,
    // but can be overridden in advanced usage.
    bayestme_phenotype_selection_spatial_smoothing_values = null

    // Deconvolution params

    // Number of samples from the posterior distribution.
    bayestme_deconvolution_n_samples = 100
    // Number of burn-in samples.
    bayestme_deconvolution_n_burn = 2000
    // Thinning factor for sampling
    bayestme_deconvolution_n_thin = 5
    // List of cell type names to use for plots.
    bayestme_deconvolution_cell_type_names = []
    // If using SVI inference, whether to use spatial guide or not
    bayestme_deconvolution_use_spatial_guide = true

    // Select Marker Genes Params
    bayestme_n_marker_genes = 5
    bayestme_marker_gene_alpha_cutoff = 0.05
    // Method for choosing marker genes. Options are: "TIGHT" or "FALSE_DISCOVERY_RATE"
    bayestme_marker_gene_method = "TIGHT"

    // Spatial Expression Params

    bayestme_spatial_expression_n_spatial_patterns = 5
    // Number of samples from the posterior distribution.
    bayestme_spatial_expression_n_samples = 100
    // Number of burn-in samples.
    bayestme_spatial_expression_n_burn = 2000
    // Thinning factor for sampling
    bayestme_spatial_expression_n_thin = 5
    // Simpler model for sampling spatial differential expression posterior
    bayestme_use_simple_spatial_expression_model = false
    // Alpha0 tuning parameter.
    bayestme_spatial_expression_alpha0 = 10
    // Prior var tuning parameter.
    bayestme_spatial_expression_prior_var = 100
    // Only consider spots where there are at least <n_cell_min> cells of a given type,
    // as determined by the deconvolution results.
    bayestme_spatial_expression_n_cell_min = 5
    // Number of genes to consider for spatial expression.
    bayestme_spatial_expression_n_genes = 100

    // Parameters controlling the selection of significant spatial patterns
    bayestme_significant_spatial_pattern_moran_i_score_threshold = 0.9
    bayestme_significant_spatial_pattern_tissue_threshold = 5
    bayestme_significant_spatial_pattern_gene_spatial_pattern_proportion_threshold = 0.95
}

profiles {
    juno {
        singularity {
            enabled = true
            autoMounts = true
        }
        process {
            executor = 'lsf'
            withLabel: process_high_memory {
                cpus = 1
                memory = '96 GB'
                time = '96h'
            }
            withLabel: process_single {
                cpus = 1
                memory = '32 GB'
                time = '1h'
            }
        }
        executor {
            name = 'lsf'
            perJobMemLimit = true
            queueSize = 25
        }

    }
}
