name: Container Builds
on:
  push:
    branches:
      - 'main'
jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: jeffquinnmsk/bayestme:latest
          cache-from: type=registry,ref=jeffquinnmsk/bayestme:latest
          cache-to: type=inline

  build-singularity:
    needs: build-docker
    runs-on: ubuntu-latest
    container:
      image: quay.io/singularity/singularity:v3.10.0
      options: --privileged

    name: Build singularity container
    steps:
      - name: Check out code for the container builds
        uses: actions/checkout@v2

      - name: Build Container
        run: |
          sudo -E singularity build container.sif Singularity

      - name: Login
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | singularity remote login -u ${{ secrets.GHCR_USERNAME }} --password-stdin oras://ghcr.io

      - name: Deploy Container
        run: singularity push container.sif oras://ghcr.io/${GITHUB_REPOSITORY}:latest || singularity push container.sif oras://ghcr.io/${GITHUB_REPOSITORY}:latest || singularity push container.sif oras://ghcr.io/${GITHUB_REPOSITORY}:latest